<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuttle.major.mapper.StoreMapper">

    <select id="batchQueryStore" resultType="com.shuttle.major.entity.Store">
        select * from store where id in
        <foreach collection="storeIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>